# React (Vite) Sanity environment variables
# لازم تكون نفس قيم المشروع اللي على Sanity Studio + Dataset اللي شغال عليه الموقع

VITE_SANITY_PROJECT_ID=terz7sp5
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2024-06-01

